POSTGRES_USER=sciarticle
POSTGRES_PASSWORD=sciarticle_password
POSTGRES_DB=sciarticle_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

TELEGRAM_BOT_TOKEN=your_bot_token_here # Бот @SciArticleBot
SOURCE_SERVER_URL=http://your-api  # URL сервиса, который принимает POST-запросы
SEARCH_CHAT_ID=id_sciarticle_search_chat  # Общий чат всех пользователей

API_SECRET_TOKEN=your_secret_token  # Для защиты HTTP-запросов между сервисами без участия пользователей